body {
}
table {
    width:400px;
    height:250px;
}

   /*table th {
        font-family:Arial;
        font-size:28px;
    }*/

    table thead tr.THeader {
        font-family:Arial;
        font-size:22px;
    }

table, th, td {
    border: 1px solid black;
}